<head>
  <!-- Autres balises du head -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<!-- FOOTER -->
<footer>
   
  <div class="footer-items">
    <ul>
      <h3>Get to Know Us</h3>
      <li><a href="#">About us</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Press Release</a></li>
    </ul>
    <ul>
      <h3>Connect with Us</h3>
      <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
      <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
      <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
    </ul>
    <ul>
      <h3>Make Money with Us</h3>
      <li><a href="#">Sell on </a></li>
      <li><a href="#">Sell under OnStoreline Accelerator</a></li>
      <li><a href="#">Protect and Build Your Brand</a></li>
      <li><a href="#">OnStoreline Global Selling</a></li>
      <li><a href="#">Become an Affiliate</a></li>
      <li><a href="#">Fulfillment by OnStoreline</a></li>
     
    </ul>
    <ul>
      <h3>Let Us Help You</h3>
      <li><a href="#">Your Account</a></li>
      <li><a href="#">Return Centre</a></li>
      <li><a href="#">100% Purchase Protection</a></li>
      <li><a href="#">Onstoreline App Download</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>
</footer>
